@charset "UTF-8";
/**
Theme Name:		Telegram2 Mobile
Description:   	Telegram2 mobile theme
Version:       	2.0
Author:        	mbanusic, mradaus
Author URI:    	http://telegram.hr/
License:       	GNU General Public License v2 or later
*/

/* Font Face */
@font-face {
    font-family: "Fjalla One CRO";
    src: url('assets/fonts/fjalla_croat/FjallaOne-Regular.1.woff2') format('woff2'),
         url('assets/fonts/fjalla_croat/FjallaOne-Regular.1.woff') format('woff'),
         url('assets/fonts/fjalla_croat/FjallaOne-Regular.1.svg') format('svg'),
         url('assets/fonts/fjalla_croat/FjallaOne-Regular.1.eot') format('embedded-opentype');
    font-weight: bold;
    font-style: normal;
}

/* CSS Reset*/
html {
    margin: 0;
    padding: 0;
    border: 0;
}

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn,
em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, hgroup, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    list-style: none;
}

/* Variables */
$white: #fff;
$black: #000;
$gray-1: #444;
$gray-2: #ccc;
$gray-3: #666;
$gray-light: #ddd;

$eggshell: #f9f8f6;

$purple-light: #301860;
$purple-dark:  #120836;
$purple-darker:  #0a0718;
$tg-red: #e31739;

$fb-blue: #3b5998;
$tw-blue: #00aced;

$title-font: "Fjalla One CRO", Impact, sans-serif;
$sans-serif: "PT Sans", 'Arial', 'Helvetica', sans-serif;
$serif: "Lora", 'Georgia', 'Times New Roman', serif;

/* Init */
body {
    width: 100%;
    height: 100%;
    font-family: $sans-serif;
    font-size: 16px;
    line-height: auto;
    background-color: black;
    color: #666;
    -webkit-font-smoothing: antialiased;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.cf:before,
.cf:after { content: " "; display: table; }
.cf:after { clear: both; }
.cf { *zoom: 1; /* IE 6/7 only */ }

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#load-more {
    margin: 10px auto;
}


.main-container {
    width: 100%;
    position: relative;
    background: white;
    /*
    padding-bottom: 15px; */
}

.container {
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

.home {

    nav {
        background: transparent;

        .overlay {
            background: url("assets/img/navbar_overlay.png") repeat-x;
            background-size: auto 100%;
        }
    }

    .article-meta {

        .time {
            display: none;
        }
    }
}

/* navbar */
nav {
    height: 50px;
    width: 100%;
    background: $purple-dark;
    color: $white;
    padding: 7px 0;
    line-height: 35px;
    top: 0;
    left: 0;
    z-index: 999;
    text-align: center;
    position: absolute;
    -webkit-transition: top .3s;
    -moz-transition: top .3s;
    -ms-transition: top .3s;
    -o-transition: top .3s;
    transition: top .3s;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 72px;
        width: 100%;
        z-index: 0;
        opacity: .8;
    }

    &.hide {
        position: fixed;
        top: -100px;
        background-color: $purple-dark;

        .overlay {
            display: none;
        }
    }

    &.show {
        top: 0;
    }

    .container {
        width: auto;
        margin: 0 15px;
        position: relative;
        z-index: 10;
    }

    .label {
        position: absolute;
        left: 33px;
        top: 1px;
        font-family: $title-font;
        font-size: 19px;
        text-transform: uppercase;
    }

    .left-action {
        position: absolute;
        top: 0;
        left: 0;
    }

    .right-action {
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        font-size: 20px;
        -webkit-transition: color 0.3s ease-out;
        -moz-transition: color 0.3s ease-out;
        -ms-transition: color 0.3s ease-out;
        -o-transition: color 0.3s ease-out;
        transition: color 0.3s ease-out;

        &:hover {
            color: $tg-red;
        }
    }

    .burger {
        top: 10px;
        width: 20px;
        height: 16px;

        .bar {
            width: 20px;
            margin-bottom: 5px;
            height: 2px;
        }
    }

    .the-logo {
        height: 30px;
        display: inline-block;
        position: relative;
        top: 2px;

        img {
            height: 100%;
            width: auto;
            margin: 0 auto;
        }
    }
}

.burger {
    width: 26px;
    height: 26px;
    cursor: pointer;

    &:hover .bar {
        background: $tg-red;
    }

    .bar {
        height: 3px;
        width: 26px;
        background: $white;
        margin-bottom: 8px;
        -webkit-transition: background 0.3s ease-out;
        -moz-transition: background 0.3s ease-out;
        -ms-transition: background 0.3s ease-out;
        -o-transition: background 0.3s ease-out;
        transition: background 0.3s ease-out;
    }
}

.left-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $purple-darker;
    height: 200%;
    z-index: 99999;
    padding: 70px 20px 30px;
    font-family: $title-font;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    overflow-x: hidden;

    .inner-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .menu-section {
        width: 49.99%;
    }

    .menu-head {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .menu-block {
        margin-bottom: 35px;

        a {
            color: $white;
            display: block;
            padding: 5px 0;

            &:hover {
                color: $tg-red;
            }
        }
    }

}

.menu-active {
    overflow: hidden;
    height: 100vh;

    nav {
        top: 0;
        position: fixed;
        display: block;
    }

    .burger {

        .bar-1 {
            transform: rotate(45deg);
            position: relative;
            top: 7px;
        }

        .bar-3 {
            transform: rotate(-45deg);
        }

        .bar-2 {
            display: none;
        }
    }

    .left-menu {
        display: block;
    }
}


.article-navigation {
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-family: $title-font;
    font-size: 18px;
    color: $purple-light;

    a:hover {
        color: $tg-red;
    }
}


/* Banners */
.banner {
    text-align: center;

    div {
        margin: 0 auto;
    }
    img,
    embed,
    object,
    iframe,
    & > ins {
        margin: 10px auto !important;
        display: block;
    }
}

.the-content {

    .banner {
        margin-bottom: 35px;
    }
}

/* Article Templates */
.sticker {
    background: $tg-red;
    color: white;
    text-transform: uppercase;
    position: absolute;
    z-index: 5;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 75px;
    font-size: 12px;
    line-height: 1.4em;
    font-family: "Oswald", $title-font;
    text-align: center;
    display: table;
    font-weight: 400;
    letter-spacing: 0.3px;

    .decail {
        background: white;
        width: 25px;
        height: 2px;
        display: block;
        margin: 5px auto 0;
    }


    h2 {
        display: table-cell;
        vertical-align: middle;
        color: white;
    }
}

.ico-sticker {
    position: absolute;
    width: 80px !important;
    height: auto;
    z-index: 5;
    top: 7px;
    right: 7px;
}


.title {
    font-family: $title-font;
}

article {
    position: relative;

    .thumb {
        position: relative;

        img {
            width: 100%;
            height: auto;
        }

        .overlay {
            position: absolute;
            width: 100%;
            z-index: 0;
        }
    }
}

.article-meta {
    font-family: $title-font;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-size: 11px;
    color: $black;

    span {
        display: inline-block;
        padding-right: 5px;
    }

    .rcmds {
        color: $tg-red;
    }

    span.time,
    span.comms {
        opacity: 0.7;
    }

    .author-thumb {
        width: 35px;
        height: 35px;
        border-radius: 100px;
        background: $gray-light;
        overflow: hidden;
        display: inline-block;
        margin: 0 4px -11px 0;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.article-head {
    background: $black;
    text-align: center;
    padding-bottom: 20px;

    .article-meta {
        color: $white;

        .author-thumb,
        .time {
            display: none;
        }
    }

    .sticker {
        top: 60px;
    }

    .thumb {
        overflow: hidden;

        .overlay {
            bottom: 0;
            left: 0;
            background: url("assets/img/overlay_hero.png")  repeat-x bottom;
            background-size: auto 50%;
            height: 100%;
        }
    }

    .article-content {
        position: absolute;
        bottom: 20px;
        left: 0;
        width: 100%;
    }

    .titles {
        color: $white;
        margin-top: -50px;

        .title {
            text-transform: uppercase;
            font-size: 28px;
            padding: 15px 0;
        }
    }
}

.article-1 {
    margin: 0 15px 0;
    padding: 15px 0;
    border-bottom: 1px solid $gray-light;


    .titles {
        padding: 18px 0;

        .title {
            color: $black;
            font-size: 24px;
            margin-bottom: 7px;
            line-height: 1.3em;
        }
    }

    .article-meta {

        .author-block {
            display: inline-block;

            &:first-child {

                .author-thumb {
                    display: inline-block;
                }

                span:before {
                    content: "";
                    margin-left: 0px;
                }

            }

            span:before {
                content: "&";
                display: inline-block;
                margin-left: -3px;
            }

            .author-thumb {
                width: 30px;
                height: 30px;
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 320px) {

    .article-1 {

        .article-meta {

            .author-thumb {
                display: none !important;
            }
        }
    }
}

.article-fourth {
    width: 100%;
    padding: 0;
    margin: 15px 0;
    background: $white;
    position: relative;
    z-index: 2;

    .inner {
        position: relative;
        padding-bottom: 30px;
    }

    .titles {
        position: relative;

        .title {
            min-height: 124px;
            font-size: 22px;
            line-height: 1.4em;
            letter-spacing: 0.2px;
            color: black;
        }
    }

    .article-meta {
        margin: 15px 0 5px;
        color: $black;
        position: absolute;
        bottom: 0;
        left: 0;

        .author {
            display: none;
        }
    }

    .thumb {
        margin: 0 0 15px;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.article-rainbow-small {
    width: 100%;
    height: 120px;
    position: relative;
    background: $purple-dark;

    .thumb {
        clear: both;
        position: relative;
        height: 100%;

        .overlay {
            width: 190px;
            position: absolute;
            height: 100%;
            background: url("assets/img/overlay_rainbow_small.png") repeat-y;
            z-index: 5px;
            top: 0;
            right: 0;
        }

        img {
            float: right;
            width: auto;
            height: 100%;
        }
    }

    .author-thumb {
        width: 120px !important;

        img {
            width: 100%;
            height: auto;
        }
    }

    .titles {
        width: 75%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        text-align: left;
        padding: 10px 15px;
        height: auto;
        padding-top: 30px;

        .title {
            font-size: 16px;
            margin: 3px 0 10px 0;
            letter-spacing: 0.5px;
            line-height: 1.2em;
            color: white;
            position: relative;

            &:before {
                content: "Najčitanije";
                position: absolute;
                top: -24px;
                left: -1px;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 0px;
                color: $tg-red;
            }

        }

        .article-meta {
            display: none;
        }
    }
}

.article-author {

    .titles {
        width: auto;
        padding-top: 10px;
        padding-right: 115px;
        top: auto;
        bottom: 0;

        .title {
            margin: 0;
        }

        .title:before {
            content: "";
        }

        .overtitle {
            font-family: $title-font;
            text-transform: uppercase;
            color: $tg-red;
            font-size: 12px;
            margin-bottom: 7px;
        }
    }

    .thumb {
        position: relative;

        .author-block {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            -webkit-transition: opacity 0.3s ease-out;
            -moz-transition: opacity  0.3s ease-out;
            -ms-transition: opacity  0.3s ease-out;
            -o-transition: opacity  0.3s ease-out;
            transition: opacity  0.3s ease-out;

            .overlay {
                background: url("assets/img/article-author.png") no-repeat;
                background-size: 100% 100%;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
            }

            .author-thumb {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 100px;
            }
        }
    }
}

.initials {
    background: url("assets/img/article-author.png") no-repeat;
    background-size: 100% 100%;
    color: $white;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
}

/* Megabreak */
.megabreak-container {
    position: relative;
    background: $purple-darker;

    .megabreak-frame {
        position: absolute;
        top: 3px;
        left: 0;
        width: 100%;
        z-index: 1;
        padding: 10px;
        height: 96%;
        overflow: hidden;

        img {
            margin: 0 auto;
        }
    }

    &.megabreak-2 {

        .titles {
            padding: 115px 0 0 0;
        }
    }
}

.article-megabreak {

    .btn {
        margin: 0;
    }

    .thumb {
        width: 100%;
        overflow: hidden;

        .overlay {
            background: url(assets/img/overlay_hero.png) repeat-x bottom;
            background-size: auto 100%;
            opacity: .5;
            position: absolute;
            z-index: 1;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        img {
            width: 120%;
            height: auto;
            margin-left: -10%;
            max-width: none;
        }
    }

    .article-content {
        position: absolute;
        z-index: 20;
        width: 100%;
        bottom: 0;
        left: 0;

        .titles {
            color: $white;
            padding: 30px;

            .article-cat {
                font-family: $title-font;
                font-size: 20px;
                text-transform: uppercase;
            }

            .title {
                color: $white;
                font-size: 46px;
                line-height: 1.05em;
                text-transform: uppercase;
                margin: 15px 0 15px 0;
            }

            .subtitle {
                font-size: 18px;
                color: $white;
                margin: 20px 0;
            }

            .article-meta {
                text-transform: lowercase;
                color: white;

                span {
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media only screen and (min-width: 320px) {
    .article-megabreak .article-content .titles {
        padding: 30px 23px;
    }
}

@media only screen and (min-width: 425px) and (max-width: 520px) {

    .article-megabreak .article-content .titles .title {
        font-size: 66px;
    }

}

.article-poster {
    margin: 0 15px;

    .titles {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        background: rgba(1,1,1,0.3);
        padding: 10px; /*
        background: url("assets/img/overlay_hero.png");
        background-size: 100% 100%; */

        .title-block {
            padding: 20px 10px;
            position: absolute;
            width: 100%;
            bottom: 0;
            left: 0;
            z-index: 5;
            bottom: 100px;
        }

        .title {
            color: $white;
            margin-bottom: 10px;
            font-size: 26px;
        }
    }
}

.megabreak-bottom {
    padding: 50px 0 40px;
    margin-bottom: 20px;
    position: relative;
    z-index: 5;
    background: $purple-darker;


    .blitz-articles {
        margin: 0 50px;
        display: flex;
        flex-direction: row;

        .verticals {
            width: 790px;
            padding-right: 40px;
        }
    }

    .day-quote {
        color: $white;
        text-align: center;
        font-family: $title-font;
        text-transform: uppercase;

        .qoute {
            text-transform: none;
            font-size: 24px;
            margin: 20px 0 10px;
        }

        .overtitle {
            color: $tg-red;
            font-size: 18px;
        }

        .quote-person {
            font-size: 14px;
            opacity: 0.8;
        }
    }
}

.fotogalerije-template-default {

    .main-container {
        background: black;
    }
}

.gallery-page {
    background: none !important;
    color: white;
    padding-bottom: 60px;

    .gallery-meta {
        margin: 15px 0 10px;
        text-align: center;

        .caption {
            display: inline;
        }

        .photo-author {
            display: inline;
            color: $gray-light;
        }
    }

    .gallery-nav {
        font-size: 18px;
        font-family: $title-font;
        text-transform: uppercase;
        padding: 25px 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid $gray-3;

        .arrow:hover {
            cursor: pointer;
            color: $tg-red;
        }
    }

    .gallery-head {
        padding-top: 20px;

        .overtitle {
            color: $tg-red;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 18px;
            border-bottom: 2px solid $tg-red;
            display: inline-block;
        }

        .title {
            font-size: 28px;
            line-height: 1.3em;
            margin: 20px 0 10px;
        }

        .subtitle {
            font-size: 18px;
            color: $gray-light;
            margin-bottom: 15px;
        }
    }

    .gallery-container {
        position: relative;

        &:hover .arrow {
            opacity: 1;
        }

        .arrow-img {
            position: absolute;
            z-index: 9999;
            font-size: 100px;
            top: 50%;
            margin-top: -40px;
            opacity: 0;

            &.arrow-left {
                left: 15px;
            }

            &.arrow-right {
                right: 355px ;
            }
        }

        .gallery-slider {

            .gallery-image {

                img {
                    max-width: 100%;
                    max-height: 75vh;
                    margin: 0 auto;
                }
            }
        }

    }
}


/* Global search */
.global-search {
    display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    color: $white;
    background: $purple-darker;
    padding-bottom: 20px;

    .close {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 30px;
        right: 20px;
        cursor: pointer;
        z-index: 99999988;

        .line {
            width: 100%;
            height: 2px;
            background: #ddd;
            position: absolute;
            top: 0;
            left: 0;
        }

        .line-1 {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        .line-2 {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

    }

    .container {
        padding: 55px 15px 0;
        max-width: 640px;
        max-height: 100%;

        .search-results {
            overflow: auto;
            display: none;
        }

        h2 {
            font-size: 18px;
            line-height: 1.2em;
            font-weight: bold;
            color: $black;
        }

        p {
            font-size: 14px;
        }

        article {
            border-bottom: 1px solid $gray-light;
            padding: 0 10px 10px 0;
            margin-bottom: 25px;

            a:hover {
                color: $tg-red;
            }

        }

        .input-cnt {
            position: relative;

            input {
                width: 100%;
                padding: 5px 0;
                font-size: 22px;
                font-family: $title-font;
                border: none;
                letter-spacing: 0.5px;
                color: $tg-red;
                background: $purple-darker;
            }

        }

        .search-claim {
            font-size: 14px;

            h2 {
                color: $gray-light;
                padding-bottom: 5px;
            }

        }

        .loader {
            width: 100%;
            height: 3px;
            background: $gray-3;
            position: relative;
            overflow: hidden;
            margin-bottom: 30px;

            .bar {
                position: absolute;
                top: 0;
                left: -100%;
                background: $tg-red;
                height: 100%;
                width: 100%;
            }
        }
    }
}

.search-results {
    min-height: 70vh;
    color: $white;

    .single-page {
        background: black;

    }

    .page-title {
        text-align: center;
        font-size: 26px;
        text-transform: uppercase;
        padding: 30px 0 10px;

        span {
            color: $tg-red;
        }
    }

    .no-results {
        margin: 30px 0 0;
        text-align: center;
        font-size: 24px;

        h2 {
            font-family: $title-font;
            font-size: 52px;
            color: $tg-red;
            margin: 20px 0 0;
        }
    }
}

.search-results-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding: 1.5px;

    background: #e3d60d;
    background: -moz-linear-gradient(left, #e3d60d 0%, #e3ca0f 3%, #e3b712 6%, #e3741a 15%, #e33426 35%, #e3212d 43%, #e31433 50%, #dd0f38 53%, #c40f48 63%, #900f67 77%, #680f7e 86%, #510f8b 92%, #3d0f97 100%, #3c0f97 100%, #000000 100%);
    background: -webkit-linear-gradient(left, #e3d60d 0%, #e3ca0f 3%, #e3b712 6%, #e3741a 15%, #e33426 35%, #e3212d 43%, #e31433 50%, #dd0f38 53%, #c40f48 63%, #900f67 77%, #680f7e 86%, #510f8b 92%, #3d0f97 100%, #3c0f97 100%, #000000 100%);
    background: linear-gradient(to right, #e3d60d 0%, #e3ca0f 3%, #e3b712 6%, #e3741a 15%, #e33426 35%, #e3212d 43%, #e31433 50%, #dd0f38 53%, #c40f48 63%, #900f67 77%, #680f7e 86%, #510f8b 92%, #3d0f97 100%, #3c0f97 100%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3d60d', endColorstr='#000000',GradientType=1 );


    .article-fourth {
        background: none;
        padding: 0;
        margin: 0 0 2px;

        .inner {
            margin: 1.5px 1.5px 0;
            background: black;
            height: 100%;
        }

        .article-meta {
            margin: 15px 0 0;
        }

        .thumb {
            margin: 0;
        }

        .titles {
            padding: 20px;
        }

        .title {
            color: white;
        }

        .article-meta {
            color: white;
            left: 20px;
            bottom: 20px;
        }
    }
}

/* Author Page */
.author-page {
    padding-top: 100px;

    .article-navigation a {
        color: white;
    }

    .author-head {
        clear: both;
        min-height: 300px;
        margin-bottom: 60px;
        margin-top: 40px;
        text-align: center;


        .author-thumb {
            width: 200px;
            height: 200px;
            background: $gray-light;
            position: relative;
            margin: 0 auto 30px;

            .initials {
                width: 100%;
                height: 100%;
                border-radius: 0;
                line-height: 200px;
                font-size: 60px;
            }

            img {
                position: absolute;
                bottom: 0;
                left: -10%;
                width: 120%;
                max-width: none;
            }
        }

        .author-name {
            font-size: 42px;
            margin-bottom: 10px;
            color: black;
        }

        .author-meta {
            font-family: $title-font;
            font-size: 24px;

            a {
                color: $tg-red;
                display: block;
                padding-top: 20px;
                font-size: 14px;
                text-transform: uppercase;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .bio {
            font-size: 18px;
            margin-top: 25px;
            color: black;
        }
    }

    .author-articles {

        .big-title {
            font-size: 21px;
            text-align: center;
            letter-spacing: 0.05em;
            font-family: $sans-serif;
            font-weight: bold;
            color: $purple-light;
            text-transform: uppercase;
            margin: 0 auto;
        }

        .article-author-container {
            margin-top: 15px;
        }

        .author-thumb {
            display: none !important;
        }
    }
}

.dark-page,
.error404 {
    background: black url("assets/img/wall_bg.jpg") no-repeat top center;
    color: white;
}

.error404 .main-container {
    background: transparent;
}

.error-page {

    .container {
        text-align: center;
        padding-top: 100px;

        .error-title {
            font-family: $title-font;
            font-size: 42px;
            line-height: 1.3em;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
        }

        a {
            color: $tg-red;

            &:hover {
                text-decoration: underline;
            }
        }

        #tg-small {
            margin: 30px 0 0;
        }
    }
}


/* Buttons and forms */
.btn {
    display: block;
    width: 180px;
    line-height: 50px;
    text-align: center;
    font-family: $title-font;
    text-transform: uppercase;
    font-size: 16px;
    color: $white;
    background: $purple-dark;
    cursor: pointer;
    margin: 0 auto;

    &.btn-empty {
        background: none;
        border: 2px solid white;
    }
}

.btn:hover {
    background: $purple-light;
}

/* Widgets */
.procitajte-danas {

    .tg-widget-head {
        display: none;
    }

    .tg-widget-body {
        padding: 3px 0;
        background: #000000; /* Old browsers */
        background: -moz-linear-gradient(-45deg, #000000 0%, #3c0f97 0%, #3d0f97 0%, #510f8b 8%, #680f7e 14%, #900f67 23%, #c40f48 37%, #dd0f38 47%, #e31433 50%, #e3212d 57%, #e33426 65%, #e3741a 85%, #e3b712 94%, #e3ca0f 97%, #e3d60d 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, #000000 0%, #3c0f97 0%, #3d0f97 0%, #510f8b 8%, #680f7e 14%, #900f67 23%, #c40f48 37%, #dd0f38 47%, #e31433 50%, #e3212d 57%, #e33426 65%, #e3741a 85%, #e3b712 94%, #e3ca0f 97%, #e3d60d 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, #000000 0%, #3c0f97 0%, #3d0f97 0%, #510f8b 8%, #680f7e 14%, #900f67 23%, #c40f48 37%, #dd0f38 47%, #e31433 50%, #e3212d 57%, #e33426 65%, #e3741a 85%, #e3b712 94%, #e3ca0f 97%, #e3d60d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#e3d60d', GradientType=1); /* IE6-9 fallback on horizontal gradient */
        margin-bottom: 10px !important;
    }
}

.tg-autori {
    margin: 0 auto 15px;

    .tg-widget-head {
        display: none;
        font-weight: bold;
        color: $purple-light;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        padding: 0 0 2px 0;
        letter-spacing: 0.1em;
    }

    .tg-widget-body {
        padding: 3px 0;

        background: #e3d60d;
        background: -moz-linear-gradient(left, #e3d60d 0%, #e3ca0f 3%, #e3b712 6%, #e3741a 15%, #e33426 35%, #e3212d 43%, #e31433 50%, #dd0f38 53%, #c40f48 63%, #900f67 77%, #680f7e 86%, #510f8b 92%, #3d0f97 100%, #3c0f97 100%, #000000 100%);
        background: -webkit-linear-gradient(left, #e3d60d 0%, #e3ca0f 3%, #e3b712 6%, #e3741a 15%, #e33426 35%, #e3212d 43%, #e31433 50%, #dd0f38 53%, #c40f48 63%, #900f67 77%, #680f7e 86%, #510f8b 92%, #3d0f97 100%, #3c0f97 100%, #000000 100%);
        background: linear-gradient(to right, #e3d60d 0%, #e3ca0f 3%, #e3b712 6%, #e3741a 15%, #e33426 35%, #e3212d 43%, #e31433 50%, #dd0f38 53%, #c40f48 63%, #900f67 77%, #680f7e 86%, #510f8b 92%, #3d0f97 100%, #3c0f97 100%, #000000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3d60d', endColorstr='#000000',GradientType=1 );

        .author-block .overlay {
            background: none;
        }
    }
}

.slick-list {
    z-index: 10;
}

.slick-dots {
    z-index: 0;
    bottom: -20px;

    li {
        margin: 0;
    }

    li button:before {
        color: black;
        font-size: 6px;
        opacity: .40;
    }

    li.slick-active button:before {
      color: $tg-red;
      opacity: 1;
    }
}


.slick-next {
    right: 25px;
    width: 15px;
    height: 60px;
    z-index: 10;
}

.slick-next:before {
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 60px;
}



.single-page {
    padding-top: 50px;
    padding-bottom: 10px;
    background: white;
    /*
    box-shadow: 0 0 50px rgba(255,255,255,0.4); */

    & > hr {
        display: none;
    }
}

.single-head {
    margin: 20px 0 15px;
    position: relative;
    padding-bottom: 5px;

    .overtitle {
        font-family: $sans-serif;
        font-weight: bold;
        color: $tg-red;
        font-size: 16px;
        text-transform: uppercase;
        display: inline-block;
        border-bottom: 3px solid $tg-red;
        padding: 0 0 5px 0;
        letter-spacing: 0.1em;
        position: relative;

    }

    .title {
        color: $black;
        font-size: 28px;
        line-height: 1.3em;
        margin: 20px 0 10px;
        width: 100%;
    }

    .subtitle {
        font-family: $sans-serif;
        font-size: 18px;
        color: $gray-3;
        width: 100%;
        margin-bottom: 15px;
    }

    .article-meta {
        color: black;
        font-size: 13px;

        .author-block {
            display: inline-block;
            margin-right: 10px;

            .initials {
                width: 35px;
                height: 35px;
                line-height: 35px;
            }
        }

        span {
            padding-right: 2px;
        }
    }
}

.video-head {
    width: 100%;
    position: relative;

    video {
        width: 100%;
        height: auto;
        display: block;
    }
}

.video-js {
  width: 100%;
  height: auto;
  display: block;
}

.play-button {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: url("assets/img/play_btn.svg") no-repeat center;
    background-size: 15%;
}

.single-body {

    .single-content {
        max-width: 840px;
        width: 100%;

        .thumb {
            padding: 0 0 10px;
            position: relative;
            margin: 0 -20px;

            .article-meta {
                background: $purple-dark;
                color: $white;
                position: absolute;
                bottom: 15px;
                left: 0;
                padding: 5px;
            }

            .photographer {
                color: $gray-3;
                text-transform: uppercase;
                position: absolute;
                bottom: -10px;
                font-size: 10px;
                right: 15px;
                text-align: right;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .content-container {
            position: relative;
            width: 100%;
            font-size: 18px;
            color: $black;
            padding-top: 10px;

            .article-meta {
                color: $black;
                margin: 15px 0 25px;
                font-size: 12px;
            }

            .the-content {
                font-family: $serif;

                p:first-child:first-letter {
                    font-size: 72px;
                    margin: 20px 12px 15px 0;
                    float: left;
                }

                a {
                    color: $tg-red;
                    border-bottom: 2px solid $purple-dark;
                    font-weight: bold;

                    &:hover {
                        border-bottom: 2px solid transparent;
                    }
                }

                figure {
                    width: auto;
                    margin: 0 -20px;
                    position: relative;

                    i {
                        font-size: 70px;
                        color: white;
                        display: block;
                        text-align: center;
                        position: absolute;
                        z-index: 2;
                        top: 50%;
                        margin-top: -35px;
                        left: 0;
                        width: 100%;
                        opacity: 0;
                        -webkit-transition: opacity .3s;
                        transition: opacity .3s;
                    }

                    &:hover i {
                        opacity: 1;
                    }
                }

                figcaption {
                    font-family: $sans-serif;
                    font-size: 14px;
                    line-height: 1.3em;
                    color: $gray-3;
                    padding: 10px 15px;

                    span {
                        margin-left: 4px;

                        &:before {
                            content: "- ";
                        }
                    }
                }

                .quote {
                    font-family: $title-font;
                    font-size: 26px;
                    color: $tg-red;
                    width: 100%;
                    margin: 30px 0 30px;
                    border-left: 2px solid black;
                    padding: 0 0 0 15px;
                }

                .the-content p:first-child:first-letter {
                    font-size: 102px;
                    margin: 30px 12px 15px 0;
                    float: left;
                }

                p {
                    line-height: 1.6em;
                    margin-bottom: 25px;
                    font-size: 17px;
                }

                em {
                    font-style: italic;
                }

                li {
                    list-style: disc;
                    margin: 0 0 15px 20px;
                    font-family: inherit;
                    font-size: 17px;
                    line-height: 1.4em;
                }

                h1, h2, h3 {
                    font-family: $sans-serif;
                    font-size: 18px;
                    line-height: 1.3em;
                    letter-spacing: 0.04em;
                    margin: 35px 0 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: $black;
                }

                iframe {
                    max-width: 100%;
                }

            }

            /*
            a {
                color: purple;
                border-bottom: 2px solid purple;

                &:hover {
                    border-bottom: 2px solid transparent;
                }
            } */

            img.size-full,
            img.size-large { /*
                width: 840px;
                height: auto;
                margin-left: -60px;
                margin-top: 4 0px; */
                margin-bottom: 5px;
            }



            .end-square {
                width: 16px;
                height: 16px;
                display: inline;
                margin-left: 3px;
            }

            .perex {
                font-size: 22px;
                color: $black;
                line-height: 1.5em;
                max-width: 960px;
                margin: 0 auto 40px;
                clear: both;
            }

            .tags {
                margin: 40px 0 9px;
                font-size: 16px;

                a {
                    color: $gray-3;

                    &:hover {
                        color: $tg-red;
                    }

                }
            }

            .ender {
                margin: 20px auto 40px;
                width: 40px;
                height: 37px;
                line-height: 40px;
                border: 2px solid $tg-red;
                padding: 10.5px 5px;

            }
        }
    }
}

.img-frame {
    overflow-x: scroll;

    i {
        display: none !important;
    }

        img {
            max-width: none;
            height: 100vh !important;
            width: auto;
            position: relative;
        }

    figcaption {
        display: none;
    }
}

.single-price {
    padding-top: 0;



    .single-page {
        padding-top: 0;
    }

    .billboard {
        display: none;
    }

    .head-meta {
        font-family: $title-font;
        letter-spacing: 0.5px;
        color: #aaa;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .single-head {
        margin: 0;
        padding-top: 0;
        position: relative;


        /* Longofrm format 1 */
        &.in-picture {
            border-bottom: none;
            padding-bottom: 150px;
            background: #000;

            .thumb {
                position: relative;
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .titles {
                padding: 15px;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;

                background: url(assets/img/overlay_hero.png) repeat-x bottom;
                background-size: auto 100%;

                .title {
                    color: white;
                }

                .subtitle {
                    color: white;
                }

                .article-meta {
                    color: white;
                    padding-bottom: 10px;
                    margin-bottom: -150px;
                }
            }
        }


        /* Longform format 4 */
        &.no-img {
            padding: 70px 0 0;
            border-bottom: none;

            .titles {
                width: 100%;
                text-align: center;

                .title {
                    margin: 40px 0 20px;
                    font-family: $serif;
                    font-weight: bold;
                }
            }

            .article-meta {
                margin: 30px 0 0;

                .author-thumb {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 10px;
                }

                .author {
                    display: block;
                    font-size: 18px;
                    text-transform: none;
                }
            }
        }
    }

    .perex {
        font-family: $serif;
        font-size: 28px;
        color: $black;
        line-height: 1.5em;
        max-width: 960px;
        clear: both;
        text-align: center;
    }
}

.author-box {
    border-bottom: 1px solid $gray-light;
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;

    .author-block {
        position: relative;
        margin-bottom: 10px;

        .author-thumb {
            width: 100px;
            height: 100px;
            float: left;
            margin-right: 15px;
            border-radius: 100px;
            background: $gray-light;
            overflow: hidden;

            .initials {
                width: 100px;
                height: 100px;
                line-height: 100px;
                border-radius: 100px;
                font-size: 30px;
            }

            img {
                width: 100% !important;
                margin: 0 !important;
                height: auto;
            }
        }
    }

    .tags {
        display: none;
    }

    .author-name {
        position: absolute;
        bottom: 10px;
        left: 120px;

        .first-name {
            font-family: $title-font;
            font-size: 18px;
            margin-bottom: 3px;
        }

        .occupation {
            color: $gray-3;
            font-size: 13px;
        }

        .author-actions {
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            margin: 10px 0 0 0;

            a {
                color: $tg-red;
            }
        }
    }

    .article-meta {
        position: absolute;
        top: 7px;
        right: 0;
        font-size: 18px;

        .author {
            display: none;
        }
    }

    .share-box {

        div {
            display: block;

            a {
                width: 100%;
                padding: 0;
                font-size: 12px;
            }
        }
    }
}

/* Single Share */
.single-share {
    position: relative;

    .share-text {
        display: none;
        font-family: $title-font;
        color: $black;
        font-size: 18px;
        height: 60px;
        line-height: 60px;
        border-bottom: 5px solid $tg-red;
        position: absolute;
        text-transform: uppercase;
        top: 0;
        left: 0;
    }

    .share-box {
        padding: 10px 0 20px 0; /*
        border-bottom: 5px solid $gray-light; */
        display: flex;
        margin-left: -5px;
        border-bottom: 1px solid $gray-light;

        & > div {
            display: block;
            width: 33.32%;
            margin-left: 5px;
            margin-right: 0;

            & span {
                display: none;
            }
        }
    }
}


.share-box {
    margin-bottom: 20px;
    font-family: $title-font;

    div {
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        margin-right: 2px;
        background: $gray-2;

        &.facebook {
            background: $fb-blue;
        }

        &.twitter {
            background: $tw-blue;
        }

        &:hover {
            background: $tg-red;
            color: $white;
        }

        a {
            display: block;
            line-height: 35px;
            padding: 0 25px;
            color: $white;
        }
    }
}

.page {

    .single-content {

        .content-container {
            padding-top: 0;

            .the-content {
                padding-top: 0;
                padding-bottom: 80px;
                font-family: $sans-serif;

                p:first-child:first-letter {
                    font-size: 19px;
                    margin: 0;
                }
            }
        }
    }

    .single-head {
        margin: 40px 0 0;
        padding: 0;

        .title {
            font-size: 36px;
            margin: 0;
        }
    }
}

.navigation {
    display: none;
}

.tg-widget-head.big-title {
    font-weight: bold;
    color: $purple-light;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 3px solid $purple-light;
    padding: 0 0 5px 0;
    letter-spacing: 0.1em;
    text-align: center;
}

.tg-comments-widget {

    .comments-title {
        font-size: 24px;

        span {
            color: $tg-red;
        }
    }

    .comments-activate {
        display: block;
        margin: 10px 0;
        font-family: $sans-serif;
        font-weight: bold;
        line-height: 1em;
        color: $black;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 1px;

        &:hover {
            color: $tg-red;
        }

        .plus-icon {
            width: 30px;
            height: 30px;
            border-radius: 100px;
            margin-bottom: -5px;
            background: $purple-light;
            position: relative;
            display: inline-block;

            .line {
                width: 15px;
                height: 1.5px;
                background: white;
                position: absolute;
                top: 14px;
                left: 7px;
            }

            .line-2 {
                transform: rotate(90deg);
            }
        }
    }

    .comments-hide {
        display: none;
    }
}

.category-head {
    margin: 20px 15px 15px;
    text-align: center;

    h1 {
        font-weight: bold;
        color: $purple-light;
        font-size: 16px;
        text-transform: uppercase;
        border-bottom: 3px solid $purple-light;
        padding: 0 0 5px 0;
        letter-spacing: 0.1em;
    }
}

/* Widgets */
.tg-ne-propusti {
    padding: 40px 0 15px;

    .tg-widget-head {
        margin-bottom: 15px;
    }

    article {
        margin: 0 0 15px;
    }

    .btn {
        margin: 0 auto;
    }
}


/* Footer */
footer {
    background: $purple-dark url("assets/img/footer_bg.png");
    padding: 20px 0;
    color: $white;
    font-family: $title-font;
    font-size: 18px;
    text-align: center;

    a:hover {
        color: $tg-red;
    }

    h2 {
        font-size: 14px;
        text-transform: uppercase;
        opacity: 0.6;
        margin-bottom: 15px;
    }

    .meta {
        font-size: 12px;
    }

    .btn {
        margin: 0 auto 20px;
    }

    .footer-1 {
        padding: 20px 15px 0;

        img {
            margin: 0 auto 20px;
            max-width: 100%;
            height: auto;
        }

        .claim {
            font-size: 18px;
            margin-bottom: 15px;
            line-height: 1.4em;
        }

        .meta {
            font-size: 14px;
        }
    }

    .footer-2 {
        padding: 20px 0;

        .categories .menu {
            -webkit-column-count: 2;
            -moz-column-count: 2;
            column-count: 2;
        }

        .menus {
            display: flex;

            & > div {
                width: 50%;
            }

            li {
                padding: 0 0 15px 0;
            }
        }
    }
}

//Column shortcodes
.clear_column {
  clear:both;
  display:block;
  font-size:0; height:0;
  line-height:0; width:100%;
  overflow: hidden;
}

/* =Shortcodes Templates
-------------------------------------------------------------- */

.full_width,
.one_half,
.one_third,
.two_third,
.one_fourth,
.three_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
  clear: both;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1em;
}

.kaufland-iframe {
  height: auto;
}

.kaufland-svinja{
  width: 1px;
  min-width: 100%;
  height: 80vw;
}