@charset "UTF-8";
/**
Theme Name:		Telegram2 Mobile
Description:   	Telegram2 mobile theme
Version:       	2.0
Author:        	mbanusic, mradaus
Author URI:    	http://telegram.hr/
License:       	GNU General Public License v2 or later
Template:       telegram-desktop
*/
/* Font Face */
@font-face {
  font-family: "Fjalla One CRO";
  src: url("assets/fonts/fjalla_croat/FjallaOne-Regular.1.woff2") format("woff2"), url("assets/fonts/fjalla_croat/FjallaOne-Regular.1.woff") format("woff"), url("assets/fonts/fjalla_croat/FjallaOne-Regular.1.svg") format("svg"), url("assets/fonts/fjalla_croat/FjallaOne-Regular.1.eot") format("embedded-opentype");
  font-weight: bold;
  font-style: normal;
}
/* CSS Reset*/
html {
  margin: 0;
  padding: 0;
  border: 0;
}

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn,
em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  list-style: none;
}

/* Variables */
/* Init */
body {
  width: 100%;
  height: 100%;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: auto;
  background-color: black;
  color: #666;
  -webkit-font-smoothing: antialiased;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
  /* IE 6/7 only */
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#load-more {
  margin: 10px auto;
}

.main-container {
  width: 100%;
  position: relative;
  background: white;
  /*
  padding-bottom: 15px; */
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.home nav {
  background: transparent;
}
.home nav .overlay {
  background: url("assets/img/navbar_overlay.png") repeat-x;
  background-size: auto 100%;
}
.home .article-meta .time {
  display: none;
}

/* navbar */
nav {
  height: 50px;
  width: 100%;
  background: #120836;
  color: #fff;
  padding: 7px 0;
  line-height: 35px;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;
  position: absolute;
  -webkit-transition: top .3s;
  -moz-transition: top .3s;
  -ms-transition: top .3s;
  -o-transition: top .3s;
  transition: top .3s;
}
nav .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 72px;
  width: 100%;
  z-index: 0;
  opacity: .8;
}
nav.hide {
  position: fixed;
  top: -100px;
  background-color: #120836;
}
nav.hide .overlay {
  display: none;
}
nav.show {
  top: 0;
}
nav .container {
  width: auto;
  margin: 0 15px;
  position: relative;
  z-index: 10;
}
nav .label {
  position: absolute;
  left: 33px;
  top: 1px;
  font-family: "Fjalla One CRO", Impact, sans-serif;
  font-size: 19px;
  text-transform: uppercase;
}
nav .left-action {
  position: absolute;
  top: 0;
  left: 0;
}
nav .right-action {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 20px;
  -webkit-transition: color 0.3s ease-out;
  -moz-transition: color 0.3s ease-out;
  -ms-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}
nav .right-action:hover {
  color: #e31739;
}
nav .burger {
  top: 10px;
  width: 20px;
  height: 16px;
}
nav .burger .bar {
  width: 20px;
  margin-bottom: 5px;
  height: 2px;
}
nav .the-logo {
  height: 30px;
  display: inline-block;
  position: relative;
  top: 2px;
}
nav .the-logo img {
  height: 100%;
  width: auto;
  margin: 0 auto;
}

.burger {
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.burger:hover .bar {
  background: #e31739;
}
.burger .bar {
  height: 3px;
  width: 26px;
  background: #fff;
  margin-bottom: 8px;
  -webkit-transition: background 0.3s ease-out;
  -moz-transition: background 0.3s ease-out;
  -ms-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}

.left-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #0a0718;
  height: 200%;
  z-index: 99999;
  padding: 70px 20px 30px;
  font-family: "Fjalla One CRO", Impact, sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  overflow-x: hidden;
}
.left-menu .inner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.left-menu .menu-section {
  width: 49.99%;
}
.left-menu .menu-head {
  font-size: 14px;
  margin-bottom: 5px;
}
.left-menu .menu-block {
  margin-bottom: 35px;
}
.left-menu .menu-block a {
  color: #fff;
  display: block;
  padding: 5px 0;
}
.left-menu .menu-block a:hover {
  color: #e31739;
}

.menu-active {
  overflow: hidden;
  height: 100vh;
}
.menu-active nav {
  top: 0;
  position: fixed;
  display: block;
}
.menu-active .burger .bar-1 {
  transform: rotate(45deg);
  position: relative;
  top: 7px;
}
.menu-active .burger .bar-3 {
  transform: rotate(-45deg);
}
.menu-active .burger .bar-2 {
  display: none;
}
.menu-active .left-menu {
  display: block;
}

.article-navigation {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  font-family: "Fjalla One CRO", Impact, sans-serif;
  font-size: 18px;
  color: #301860;
}
.article-navigation a:hover {
  color: #e31739;
}

/* Banners */
.banner {
  text-align: center;
}
.banner div {
  margin: 0 auto;
}
.banner img,
.banner embed,
.banner object,
.banner iframe, .banner > ins {
  margin: 10px auto !important;
  display: block;
}

.the-content .banner {
  margin-bottom: 35px;
}

.stickyunit {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  text-align: center;
}

.stickyunit iframe, .stickyunit img {
  margin: 0 auto;
}

/* Article Templates */
.sticker {
  background: #e31739;
  color: white;
  text-transform: uppercase;
  position: absolute;
  z-index: 5;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 75px;
  font-size: 12px;
  line-height: 1.4em;
  font-family: "Oswald", "Fjalla One CRO", Impact, sans-serif;
  text-align: center;
  display: table;
  font-weight: 400;
  letter-spacing: 0.3px;
}
.sticker .decail {
  background: white;
  width: 25px;
  height: 2px;
  display: block;
  margin: 5px auto 0;
}
.sticker h2 {
  display: table-cell;
  vertical-align: middle;
  color: white;
}

.ico-sticker {
  position: absolute;
  width: 80px !important;
  height: auto;
  z-index: 5;
  top: 7px;
  right: 7px;
}

.title {
  font-family: "Fjalla One CRO", Impact, sans-serif;
}

article {
  position: relative;
}
article .thumb {
  position: relative;
}
article .thumb img {
  width: 100%;
  height: auto;
}
article .thumb .overlay {
  position: absolute;
  width: 100%;
  z-index: 0;
}

.article-meta {
  font-family: "Fjalla One CRO", Impact, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  font-size: 11px;
  color: #000;
}
.article-meta span {
  display: inline-block;
  padding-right: 5px;
}
.article-meta .rcmds {
  color: #e31739;
}
.article-meta span.time,
.article-meta span.comms {
  opacity: 0.7;
}
.article-meta .author-thumb {
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background: #ddd;
  overflow: hidden;
  display: inline-block;
  margin: 0 4px -11px 0;
}
.article-meta .author-thumb img {
  width: 100%;
  height: auto;
}

.article-head {
  background: #000;
  text-align: center;
  padding-bottom: 20px;
}
.article-head .article-meta {
  color: #fff;
}
.article-head .article-meta .author-thumb,
.article-head .article-meta .time {
  display: none;
}
.article-head .sticker {
  top: 60px;
}
.article-head .thumb {
  overflow: hidden;
}
.article-head .thumb .overlay {
  bottom: 0;
  left: 0;
  background: url("assets/img/overlay_hero.png") repeat-x bottom;
  background-size: auto 50%;
  height: 100%;
}
.article-head .article-content {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}
.article-head .titles {
  color: #fff;
  margin-top: -50px;
}
.article-head .titles .title {
  text-transform: uppercase;
  font-size: 28px;
  padding: 15px 0;
}

.article-1 {
  margin: 0 15px 0;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
.article-1 .titles {
  padding: 18px 0;
}
.article-1 .titles .title {
  color: #000;
  font-size: 24px;
  margin-bottom: 7px;
  line-height: 1.3em;
}
article .article-meta .author-block {
  display: inline-block;
}
article .article-meta .author-block:first-child .author-thumb {
  display: inline-block;
}
article .article-meta .author-block:first-child span:before {
  content: "";
  margin-left: 0px;
}
article .article-meta .author-block span:before {
  content: "&";
  display: inline-block;
  margin-left: -3px;
}
article .article-meta .author-block .author-thumb {
  width: 30px;
  height: 30px;
  display: none;
}

.article-text {
  margin: 0 15px;
  padding: 30px 0 20px;
  border-bottom: 1px solid #ddd;
}

.article-text .title {
  color: #111;
  font-size: 22px;
  margin-bottom: 10px;
}

.block {
  margin: 20px -20px;
}

.tg-widget-head.lined {
  text-align: left !important;
  margin: 0 15px;
}

.single .slick-slide img {
  max-width: 100%;
  height: auto;
}

.single .slick-prev:before,
.single .slick-next:before {
  color: black;
  font-size: 25px;
}

.single .slick-prev:before {
  content: '\f053';
  font-family: "FontAwesome";
}

.single .slick-next:before {
  content: '\f054';
  font-family: "FontAwesome";
}

.single .slick-prev,
.single .slick-next {
  width: 25px;
  height: 25px;
}

.single .slick-prev {
  left: -20px;
}

.single .slick-next {
  right: -20px;
}

@media only screen and (max-width: 320px) {
  .article-1 .article-meta .author-thumb {
    display: none !important;
  }
}
.article-fourth {
  width: 100%;
  padding: 0;
  margin: 15px 0;
  background: #fff;
  position: relative;
  z-index: 2;
}
.article-fourth .inner {
  position: relative;
  padding-bottom: 30px;
}
.article-fourth .titles {
  position: relative;
}
.article-fourth .titles .title {
  min-height: 124px;
  font-size: 22px;
  line-height: 1.4em;
  letter-spacing: 0.2px;
  color: black;
}
.article-fourth .article-meta {
  margin: 15px 0 5px;
  color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
.article-fourth .article-meta .author {
  display: none;
}
.article-fourth .thumb {
  margin: 0 0 15px;
}
.article-fourth .thumb img {
  width: 100%;
  height: auto;
}

.article-rainbow-small {
  width: 100%;
  height: 120px;
  position: relative;
  background: #120836;
}
.article-rainbow-small .thumb {
  clear: both;
  position: relative;
  height: 100%;
}
.article-rainbow-small .thumb .overlay {
  width: 190px;
  position: absolute;
  height: 100%;
  background: url("assets/img/overlay_rainbow_small.png") repeat-y;
  z-index: 5px;
  top: 0;
  right: 0;
}
.article-rainbow-small .thumb img {
  float: right;
  width: auto;
  height: 100%;
}
.article-rainbow-small .author-thumb {
  width: 120px !important;
}
.article-rainbow-small .author-thumb img {
  width: 100%;
  height: auto;
}
.article-rainbow-small .titles {
  width: 75%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: left;
  padding: 10px 15px;
  height: auto;
  padding-top: 30px;
}
.article-rainbow-small .titles .title {
  font-size: 16px;
  margin: 3px 0 10px 0;
  letter-spacing: 0.5px;
  line-height: 1.2em;
  color: white;
  position: relative;
}
.article-rainbow-small .titles .title:before {
  content: "Najčitanije";
  position: absolute;
  top: -24px;
  left: -1px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #e31739;
}

.izbori .article-rainbow-small .titles .title:before {
  content: "Rezultati";
  position: absolute;
  top: -24px;
  left: -1px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #e31739;
}
.ht .article-rainbow-small .titles .title:before {
  content: "SMART LIFE";
}
.article-rainbow-small .titles .article-meta {
  display: none;
}

.article-author .titles {
  width: auto;
  padding-top: 10px;
  padding-right: 115px;
  top: auto;
  bottom: 0;
}
.article-author .titles .title {
  margin: 0;
}
.article-author .titles .title:before {
  content: "";
}
.article-author .titles .overtitle {
  font-family: "Fjalla One CRO", Impact, sans-serif;
  text-transform: uppercase;
  color: #e31739;
  font-size: 12px;
  margin-bottom: 7px;
}
.article-author .thumb {
  position: relative;
}
.article-author .thumb .author-block {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity  0.3s ease-out;
  -ms-transition: opacity  0.3s ease-out;
  -o-transition: opacity  0.3s ease-out;
  transition: opacity  0.3s ease-out;
}
.article-author .thumb .author-block .overlay {
  background: url("assets/img/article-author.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.article-author .thumb .author-block .author-thumb {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100px;
}

.initials {
  background: url("assets/img/article-author.png") no-repeat;
  background-size: 100% 100%;
  color: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  text-align: center;
  font-size: 12px;
}

/* Megabreak */
.megabreak-container {
  position: relative;
  background: #0a0718;
}
.megabreak-container .megabreak-frame {
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 10px;
  height: 96%;
  overflow: hidden;
}
.megabreak-container .megabreak-frame img {
  margin: 0 auto;
}
.megabreak-container.megabreak-2 .titles {
  padding: 115px 0 0 0;
}

.article-megabreak .btn {
  margin: 0;
}
.article-megabreak .thumb {
  width: 100%;
  overflow: hidden;
}
.article-megabreak .thumb .overlay {
  background: url(assets/img/overlay_hero.png) repeat-x bottom;
  background-size: auto 100%;
  opacity: .5;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.article-megabreak .thumb img {
  width: 120%;
  height: auto;
  margin-left: -10%;
  max-width: none;
}
.article-megabreak .article-content {
  position: absolute;
  z-index: 20;
  width: 100%;
  bottom: 0;
  left: 0;
}
.article-megabreak .article-content .titles {
  color: #fff;
  padding: 30px;
}
.article-megabreak .article-content .titles .article-cat {
  font-family: "Fjalla One CRO", Impact, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}
.article-megabreak .article-content .titles .title {
  color: #fff;
  font-size: 46px;
  line-height: 1.05em;
  text-transform: uppercase;
  margin: 15px 0 15px 0;
}
.article-megabreak .article-content .titles .subtitle {
  font-size: 18px;
  color: #fff;
  margin: 20px 0;
}
.article-megabreak .article-content .titles .article-meta {
  text-transform: lowercase;
  color: white;
}
.article-megabreak .article-content .titles .article-meta span {
  text-transform: uppercase;
}

@media only screen and (min-width: 320px) {
  .article-megabreak .article-content .titles {
    padding: 30px 23px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 520px) {
  .article-megabreak .article-content .titles .title {
    font-size: 66px;
  }
}
.article-poster {
  margin: 0 15px;
}
.article-poster .titles {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(1, 1, 1, 0.3);
  padding: 10px;
               /*
background: url("assets/img/overlay_hero.png");
background-size: 100% 100%; */
}
.article-poster .titles .title-block {
  padding: 20px 10px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 5;
  bottom: 100px;
}
.article-poster .titles .title {
  color: #fff;
  margin-bottom: 10px;
  font-size: 26px;
}

.megabreak-bottom {
  padding: 50px 0 40px;
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
  background: #0a0718;
}
.megabreak-bottom .blitz-articles {
  margin: 0 50px;
  display: flex;
  flex-direction: row;
}
.megabreak-bottom .blitz-articles .verticals {
  width: 790px;
  padding-right: 40px;
}
.megabreak-bottom .day-quote {
  color: #fff;
  text-align: center;
  font-family: "Fjalla One CRO", Impact, sans-serif;
  text-transform: uppercase;
}
.megabreak-bottom .day-quote .qoute {
  text-transform: none;
  font-size: 24px;
  margin: 20px 0 10px;
}
.megabreak-bottom .day-quote .overtitle {
  color: #e31739;
  font-size: 18px;
}
.megabreak-bottom .day-quote .quote-person {
  font-size: 14px;
  opacity: 0.8;
}

.fotogalerije-template-default .main-container {
  background: black;
}

.gallery-page {
  background: none !important;
  color: white;
  padding-bottom: 60px;
}
.gallery-page .gallery-meta {
  margin: 15px 0 10px;
  text-align: center;
}
.gallery-page .gallery-meta .caption {
  display: inline;
}
.gallery-page .gallery-meta .photo-author {
  display: inline;
  color: #ddd;
}
.gallery-page .gallery-nav {
  font-size: 18px;
  font-family: "Fjalla One CRO", Impact, sans-serif;
  text-transform: uppercase;
  padding: 25px 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #666;
}
.gallery-page .gallery-nav .arrow:hover {
  cursor: pointer;
  color: #e31739;
}
.gallery-page .gallery-head {
  padding-top: 20px;
}
.gallery-page .gallery-head .overtitle {
  color: #e31739;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 2px solid #e31739;
  display: inline-block;
}
.gallery-page .gallery-head .title {
  font-size: 28px;
  line-height: 1.3em;
  margin: 20px 0 10px;
}
.gallery-page .gallery-head .subtitle {
  font-size: 18px;
  color: #ddd;
  margin-bottom: 15px;
}
.gallery-page .gallery-container {
  position: relative;
}
.gallery-page .gallery-container:hover .arrow {
  opacity: 1;
}
.gallery-page .gallery-container .arrow-img {
  position: absolute;
  z-index: 9999;
  font-size: 100px;
  top: 50%;
  margin-top: -40px;
  opacity: 0;
}
.gallery-page .gallery-container .arrow-img.arrow-left {
  left: 15px;
}
.gallery-page .gallery-container .arrow-img.arrow-right {
  right: 355px;
}
.gallery-page .gallery-container .gallery-slider .gallery-image img {
  max-width: 100%;
  max-height: 75vh;
  margin: 0 auto;
}

/* Global search */
.global-search {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  color: #fff;
  background: #0a0718;
  padding-bottom: 20px;
}
.global-search .close {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 30px;
  right: 20px;
  cursor: pointer;
  z-index: 99999988;
}
.global-search .close .line {
  width: 100%;
  height: 2px;
  background: #ddd;
  position: absolute;
  top: 0;
  left: 0;
}
.global-search .close .line-1 {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.global-search .close .line-2 {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.global-search .container {
  padding: 55px 15px 0;
  max-width: 640px;
  max-height: 100%;
}
.global-search .container .search-results {
  overflow: auto;
  display: none;
}
.global-search .container h2 {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: bold;
  color: #000;
}
.global-search .container p {
  font-size: 14px;
}
.global-search .container article {
  border-bottom: 1px solid #ddd;
  padding: 0 10px 10px 0;
  margin-bottom: 25px;
}
.global-search .container article a:hover {
  color: #e31739;
}
.global-search .container .input-cnt {
  position: relative;
}
.global-search .container .input-cnt input {
  width: 100%;
  padding: 5px 0;
  font-size: 22px;
  font-family: "Fjalla One CRO", Impact, sans-serif;
  border: none;
  letter-spacing: 0.5px;
  color: #e31739;
  background: #0a0718;
}
.global-search .container .search-claim {
  font-size: 14px;
}
.global-search .container .search-claim h2 {
  color: #ddd;
  padding-bottom: 5px;
}
.global-search .container .loader {
  width: 100%;
  height: 3px;
  background: #666;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.global-search .container .loader .bar {
  position: absolute;
  top: 0;
  left: -100%;
  background: #e31739;
  height: 100%;
  width: 100%;
}

.search-results {
  min-height: 70vh;
  color: #fff;
}
.search-results .single-page {
  background: black;
}
.search-results .page-title {
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  padding: 30px 0 10px;
}
.search-results .page-title span {
  color: #e31739;
}
.search-results .no-results {
  margin: 30px 0 0;
  text-align: center;
  font-size: 24px;
}
.search-results .no-results h2 {
  font-family: "Fjalla One CRO", Impact, sans-serif;
  font-size: 52px;
  color: #e31739;
  margin: 20px 0 0;
}

.search-results-container {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  padding: 1.5px;
  background: #e3d60d;
  background: -moz-linear-gradient(left, #e3d60d 0%, #e3ca0f 3%, #e3b712 6%, #e3741a 15%, #e33426 35%, #e3212d 43%, #e31433 50%, #dd0f38 53%, #c40f48 63%, #900f67 77%, #680f7e 86%, #510f8b 92%, #3d0f97 100%, #3c0f97 100%, #000000 100%);
  background: -webkit-linear-gradient(left, #e3d60d 0%, #e3ca0f 3%, #e3b712 6%, #e3741a 15%, #e33426 35%, #e3212d 43%, #e31433 50%, #dd0f38 53%, #c40f48 63%, #900f67 77%, #680f7e 86%, #510f8b 92%, #3d0f97 100%, #3c0f97 100%, #000000 100%);
  background: linear-gradient(to right, #e3d60d 0%, #e3ca0f 3%, #e3b712 6%, #e3741a 15%, #e33426 35%, #e3212d 43%, #e31433 50%, #dd0f38 53%, #c40f48 63%, #900f67 77%, #680f7e 86%, #510f8b 92%, #3d0f97 100%, #3c0f97 100%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3d60d', endColorstr='#000000',GradientType=1 );
}
.search-results-container .article-fourth {
  background: none;
  padding: 0;
  margin: 0 0 2px;
}
.search-results-container .article-fourth .inner {
  margin: 1.5px 1.5px 0;
  background: black;
  height: 100%;
}
.search-results-container .article-fourth .article-meta {
  margin: 15px 0 0;
}
.search-results-container .article-fourth .thumb {
  margin: 0;
}
.search-results-container .article-fourth .titles {
  padding: 20px;
}
.search-results-container .article-fourth .title {
  color: white;
}
.search-results-container .article-fourth .article-meta {
  color: white;
  left: 20px;
  bottom: 20px;
}

/* Author Page */
.author-page {
  padding-top: 100px;
}
.author-page .article-navigation a {
  color: white;
}
.author-page .author-head {
  clear: both;
  min-height: 300px;
  margin-bottom: 60px;
  margin-top: 40px;
  text-align: center;
}
.author-page .author-head .author-thumb {
  width: 200px;
  height: 200px;
  background: #ddd;
  position: relative;
  margin: 0 auto 30px;
}
.author-page .author-head .author-thumb .initials {
  width: 100%;
  height: 100%;
  border-radius: 0;
  line-height: 200px;
  font-size: 60px;
}
.author-page .author-head .author-thumb img {
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  max-width: none;
}
.author-page .author-head .author-name {
  font-size: 42px;
  margin-bottom: 10px;
  color: black;
}
.author-page .author-head .author-meta {
  font-family: "Fjalla One CRO", Impact, sans-serif;
  font-size: 24px;
}
.author-page .author-head .author-meta a {
  color: #e31739;
  display: block;
  padding-top: 20px;
  font-size: 14px;
  text-transform: uppercase;
}
.author-page .author-head .author-meta a:hover {
  text-decoration: underline;
}
.author-page .author-head .bio {
  font-size: 18px;
  margin-top: 25px;
  color: black;
}
.author-page .author-articles .big-title {
  font-size: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  color: #301860;
  text-transform: uppercase;
  margin: 0 auto;
}
.author-page .author-articles .article-author-container {
  margin-top: 15px;
}
.author-page .author-articles .author-thumb {
  display: none !important;
}

.dark-page,
.error404 {
  background: black url("assets/img/wall_bg.jpg") no-repeat top center;
  color: white;
}

.error404 .main-container {
  background: transparent;
}

.error-page .container {
  text-align: center;
  padding-top: 100px;
}
.error-page .container .error-title {
  font-family: "Fjalla One CRO", Impact, sans-serif;
  font-size: 42px;
  line-height: 1.3em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.error-page .container p {
  font-size: 18px;
}
.error-page .container a {
  color: #e31739;
}
.error-page .container a:hover {
  text-decoration: underline;
}
.error-page .container #tg-small {
  margin: 30px 0 0;
}

/* Buttons and forms */
.btn {
  display: block;
  width: 180px;
  line-height: 50px;
  text-align: center;
  font-family: "Fjalla One CRO", Impact, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  background: #120836;
  cursor: pointer;
  margin: 0 auto;
}
.btn.btn-empty {
  background: none;
  border: 2px solid white;
}

.btn:hover {
  background: #301860;
}

/* Widgets */
.procitajte-danas .tg-widget-head {
  display: none;
}
.procitajte-danas .tg-widget-body {
  padding: 3px 0;
  background: #000000;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #000000 0%, #3c0f97 0%, #3d0f97 0%, #510f8b 8%, #680f7e 14%, #900f67 23%, #c40f48 37%, #dd0f38 47%, #e31433 50%, #e3212d 57%, #e33426 65%, #e3741a 85%, #e3b712 94%, #e3ca0f 97%, #e3d60d 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #000000 0%, #3c0f97 0%, #3d0f97 0%, #510f8b 8%, #680f7e 14%, #900f67 23%, #c40f48 37%, #dd0f38 47%, #e31433 50%, #e3212d 57%, #e33426 65%, #e3741a 85%, #e3b712 94%, #e3ca0f 97%, #e3d60d 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #000000 0%, #3c0f97 0%, #3d0f97 0%, #510f8b 8%, #680f7e 14%, #900f67 23%, #c40f48 37%, #dd0f38 47%, #e31433 50%, #e3212d 57%, #e33426 65%, #e3741a 85%, #e3b712 94%, #e3ca0f 97%, #e3d60d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#e3d60d', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  margin-bottom: 17px !important;
}

.tg-autori {
  margin: 0 auto 15px;
}
.tg-autori .tg-widget-head {
  display: none;
  font-weight: bold;
  color: #301860;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 0 2px 0;
  letter-spacing: 0.1em;
}
.tg-autori .tg-widget-body {
  padding: 3px 0;
  background: #e3d60d;
  background: -moz-linear-gradient(left, #e3d60d 0%, #e3ca0f 3%, #e3b712 6%, #e3741a 15%, #e33426 35%, #e3212d 43%, #e31433 50%, #dd0f38 53%, #c40f48 63%, #900f67 77%, #680f7e 86%, #510f8b 92%, #3d0f97 100%, #3c0f97 100%, #000000 100%);
  background: -webkit-linear-gradient(left, #e3d60d 0%, #e3ca0f 3%, #e3b712 6%, #e3741a 15%, #e33426 35%, #e3212d 43%, #e31433 50%, #dd0f38 53%, #c40f48 63%, #900f67 77%, #680f7e 86%, #510f8b 92%, #3d0f97 100%, #3c0f97 100%, #000000 100%);
  background: linear-gradient(to right, #e3d60d 0%, #e3ca0f 3%, #e3b712 6%, #e3741a 15%, #e33426 35%, #e3212d 43%, #e31433 50%, #dd0f38 53%, #c40f48 63%, #900f67 77%, #680f7e 86%, #510f8b 92%, #3d0f97 100%, #3c0f97 100%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3d60d', endColorstr='#000000',GradientType=1 );
}
.tg-autori .tg-widget-body .author-block .overlay {
  background: none;
}

.slick-list {
  z-index: 10;
}

.slick-dots {
  z-index: 0;
  bottom: -20px;
}
.slick-dots li {
  margin: 0;
}
.slick-dots li button:before {
  color: black;
  font-size: 6px;
  opacity: .40;
}
.slick-dots li.slick-active button:before {
  color: #e31739;
  opacity: 1;
}

.slick-next {
  right: 25px;
  width: 15px;
  height: 60px;
  z-index: 10;
}

.slick-next:before {
  content: "\f105";
  font-family: "FontAwesome";
  font-size: 60px;
}

.single-page {
  padding-top: 50px;
  padding-bottom: 10px;
  background: white;
  /*
  box-shadow: 0 0 50px rgba(255,255,255,0.4); */
}
.single-page > hr {
  display: none;
}

.single-head {
  margin: 20px 0 15px;
  position: relative;
  padding-bottom: 5px;
}
.single-head .overtitle {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  color: #e31739;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  border-bottom: 3px solid #e31739;
  padding: 0 0 5px 0;
  letter-spacing: 0.1em;
  position: relative;
}
.single-head .title {
  color: #000;
  font-size: 28px;
  line-height: 1.3em;
  margin: 20px 0 10px;
  width: 100%;
}
.single-head .subtitle {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  color: #666;
  width: 100%;
  margin-bottom: 15px;
}
.single-head .article-meta {
  color: black;
  font-size: 13px;
}
.single-head .article-meta .author-block {
  display: inline-block;
  margin-right: 10px;
}
.single-head .article-meta .author-block .initials {
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.single-head .article-meta span {
  padding-right: 2px;
}

.single-head .thumb iframe {
  width: 100%;
  padding-top: 50px;
}

.video-head {
  width: 100%;
  position: relative;
}
.video-head video {
  width: 100%;
  height: auto;
  display: block;
}

.video-js {
  width: 100%;
  height: auto;
  display: block;
}

.play-button {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: url("assets/img/play_btn.svg") no-repeat center;
  background-size: 15%;
}

.single-body .single-content {
  max-width: 840px;
  width: 100%;
}
.single-body .single-content .thumb {
  padding: 0 0 10px;
  position: relative;
  margin: 0 -20px;
}
.single-body .single-content .thumb .article-meta {
  background: #120836;
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 0;
  padding: 5px;
}
.single-body .single-content .thumb .photographer {
  color: #666;
  text-transform: uppercase;
  position: absolute;
  bottom: -10px;
  font-size: 10px;
  right: 15px;
  text-align: right;
}
.single-body .single-content .thumb img {
  width: 100%;
  height: auto;
}
.single-body .single-content .content-container {
  position: relative;
  width: 100%;
  font-size: 18px;
  color: #000;
  padding-top: 10px;
            /*
            a {
                color: purple;
                border-bottom: 2px solid purple;

                &:hover {
                    border-bottom: 2px solid transparent;
                }
            } */
}
.single-body .single-content .content-container .article-meta {
  color: #000;
  margin: 15px 0 25px;
  font-size: 12px;
}
.single-body .single-content .content-container .the-content {
  font-family: "Lora", "Georgia", "Times New Roman", serif;
}
.single-body .single-content .content-container .the-content p:first-child:first-letter {
  font-size: 72px;
  margin: 20px 12px 15px 0;
  float: left;
}
.single-body .single-content .content-container .the-content.not-capital p:first-child:first-letter {
  font-size: 17px;
  margin: 0;
  float: none;
}
.single-body .single-content .content-container .the-content a {
  color: #e31739;
  border-bottom: 2px solid #120836;
  font-weight: bold;
}
.single-body .single-content .content-container .the-content a:hover {
  border-bottom: 2px solid transparent;
}
.single-body .single-content .content-container .the-content figure {
  width: auto;
  margin: 0 -20px;
  position: relative;
}
.single-body .single-content .content-container .the-content figure i {
  font-size: 70px;
  color: white;
  display: block;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -35px;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
.single-body .single-content .content-container .the-content figure:hover i {
  opacity: 1;
}
.single-body .single-content .content-container .the-content figcaption {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  color: #666;
  padding: 10px 15px;
}
.single-body .single-content .content-container .the-content figcaption span {
  margin-left: 4px;
}
.single-body .single-content .content-container .the-content figcaption span:before {
  content: "- ";
}
.single-body .single-content .content-container .the-content .quote {
  font-family: "Fjalla One CRO", Impact, sans-serif;
  font-size: 26px;
  color: #e31739;
  width: 100%;
  margin: 30px 0 30px;
  border-left: 2px solid black;
  padding: 0 0 0 15px;
}
.single-body .single-content .content-container .the-content .the-content p:first-child:first-letter {
  font-size: 102px;
  margin: 30px 12px 15px 0;
  float: left;
}
.single-body .single-content .content-container .the-content p {
  line-height: 1.6em;
  margin-bottom: 25px;
  font-size: 17px;
}
.single-body .single-content .content-container .the-content em {
  font-style: italic;
}
.single-body .single-content .content-container .the-content li {
  list-style: disc;
  margin: 0 0 15px 20px;
  font-family: inherit;
  font-size: 17px;
  line-height: 1.4em;
}
.single-body .single-content .content-container .the-content h1, .single-body .single-content .content-container .the-content h2, .single-body .single-content .content-container .the-content h3 {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 1.3em;
  letter-spacing: 0.04em;
  margin: 35px 0 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}
.single-body .single-content .content-container .the-content iframe {
  max-width: 100%;
}
.single-body .single-content .content-container img.size-full,
.single-body .single-content .content-container img.size-large {
             /*
width: 840px;
height: auto;
margin-left: -60px;
margin-top: 4 0px; */
  margin-bottom: 5px;
}
.single-body .single-content .content-container .end-square {
  width: 16px;
  height: 16px;
  display: inline;
  margin-left: 3px;
}
.single-body .single-content .content-container .perex {
  font-size: 22px;
  color: #000;
  line-height: 1.5em;
  max-width: 960px;
  margin: 0 auto 40px;
  clear: both;
}
.single-body .single-content .content-container .tags {
  margin: 40px 0 9px;
  font-size: 16px;
}
.single-body .single-content .content-container .tags a {
  color: #666;
}
.single-body .single-content .content-container .tags a:hover {
  color: #e31739;
}
.single-body .single-content .content-container .ender {
  margin: 20px auto 40px;
  width: 40px;
  height: 37px;
  line-height: 40px;
  border: 2px solid #e31739;
  padding: 10.5px 5px;
}

.img-frame {
  overflow-x: scroll;
}
.img-frame i {
  display: none !important;
}
.img-frame img {
  max-width: none;
  height: 100vh !important;
  width: auto;
  position: relative;
}
.img-frame figcaption {
  display: none;
}

.single-price {
  padding-top: 0;
}
.single-price .single-page {
  padding-top: 0;
}
.single-price .billboard {
  display: none;
}
.single-price .head-meta {
  font-family: "Fjalla One CRO", Impact, sans-serif;
  letter-spacing: 0.5px;
  color: #aaa;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.single-price .single-head {
  margin: 0;
  padding-top: 0;
  position: relative;
  /* Longofrm format 1 */
  /* Longform format 4 */
}
.single-price .single-head.in-picture {
  border-bottom: none;
  padding-bottom: 150px;
  background: #000;
}
.single-price .single-head.in-picture .thumb {
  position: relative;
  width: 100%;
}
.single-price .single-head.in-picture .thumb img {
  width: 100%;
}
.single-price .single-head.in-picture .titles {
  padding: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: url(assets/img/overlay_hero.png) repeat-x bottom;
  background-size: auto 100%;
}
.single-price .single-head.in-picture .titles .title {
  color: white;
}
.single-price .single-head.in-picture .titles .subtitle {
  color: white;
}
.single-price .single-head.in-picture .titles .article-meta {
  color: white;
  padding-bottom: 10px;
  margin-bottom: -150px;
}
.single-price .single-head.no-img {
  padding: 70px 0 0;
  border-bottom: none;
}
.single-price .single-head.no-img .titles {
  width: 100%;
  text-align: center;
}
.single-price .single-head.no-img .titles .title {
  margin: 40px 0 20px;
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  font-weight: bold;
}
.single-price .single-head.no-img .article-meta {
  margin: 30px 0 0;
}
.single-price .single-head.no-img .article-meta .author-thumb {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}
.single-price .single-head.no-img .article-meta .author {
  display: block;
  font-size: 18px;
  text-transform: none;
}
.single-price .perex {
  font-family: "Lora", "Georgia", "Times New Roman", serif;
  font-size: 28px;
  color: #000;
  line-height: 1.5em;
  max-width: 960px;
  clear: both;
  text-align: center;
}

.author-box {
  border-bottom: 1px solid #ddd;
  margin-top: 15px;
  margin-bottom: 10px;
  position: relative;
}
.author-box .author-block {
  position: relative;
  margin-bottom: 10px;
}
.author-box .author-block .author-thumb {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 15px;
  border-radius: 100px;
  background: #ddd;
  overflow: hidden;
}
.author-box .author-block .author-thumb .initials {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 100px;
  font-size: 30px;
}
.author-box .author-block .author-thumb img {
  width: 100% !important;
  margin: 0 !important;
  height: auto;
}
.author-box .tags {
  display: none;
}
.author-box .author-name {
  position: absolute;
  bottom: 10px;
  left: 120px;
}
.author-box .author-name .first-name {
  font-family: "Fjalla One CRO", Impact, sans-serif;
  font-size: 18px;
  margin-bottom: 3px;
}
.author-box .author-name .occupation {
  color: #666;
  font-size: 13px;
}
.author-box .author-name .author-actions {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}
.author-box .author-name .author-actions a {
  color: #e31739;
}
.author-box .article-meta {
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 18px;
}
.author-box .article-meta .author {
  display: none;
}
.author-box .share-box div {
  display: block;
}
.author-box .share-box div a {
  width: 100%;
  padding: 0;
  font-size: 12px;
}

/* Single Share */
.single-share {
  position: relative;
}
.single-share .share-text {
  display: none;
  font-family: "Fjalla One CRO", Impact, sans-serif;
  color: #000;
  font-size: 18px;
  height: 60px;
  line-height: 60px;
  border-bottom: 5px solid #e31739;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  left: 0;
}
.single-share .share-box {
  padding: 10px 0 20px 0;
                        /*
border-bottom: 5px solid $gray-light; */
  display: flex;
  margin-left: -5px;
  border-bottom: 1px solid #ddd;
}
.single-share .share-box > div {
  display: block;
  width: 33.32%;
  margin-left: 5px;
  margin-right: 0;
}
.single-share .share-box > div span {
  display: none;
}

.share-box {
  margin-bottom: 20px;
  font-family: "Fjalla One CRO", Impact, sans-serif;
}
.share-box div {
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 2px;
  background: #ccc;
}
.share-box div.facebook {
  background: #3b5998;
}
.share-box div.twitter {
  background: #00aced;
}
.share-box div:hover {
  background: #e31739;
  color: #fff;
}
.share-box div a {
  display: block;
  line-height: 35px;
  padding: 0 25px;
  color: #fff;
}

.page .single-content .content-container {
  padding-top: 0;
}
.page .single-content .content-container .the-content {
  padding-top: 0;
  padding-bottom: 80px;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
}
.page .single-content .content-container .the-content p:first-child:first-letter {
  font-size: 19px;
  margin: 0;
}
.page .single-head {
  margin: 40px 0 0;
  padding: 0;
}
.page .single-head .title {
  font-size: 36px;
  margin: 0;
}

.navigation {
  display: none;
}

.tg-widget-head.big-title {
  font-weight: bold;
  color: #301860;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 3px solid #301860;
  padding: 0 0 5px 0;
  letter-spacing: 0.1em;
  text-align: center;
}

.tg-comments-widget .comments-title {
  font-size: 24px;
}
.tg-comments-widget .comments-title span {
  color: #e31739;
}
.tg-comments-widget .comments-activate {
  display: block;
  margin: 10px 0;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  line-height: 1em;
  color: #000;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
}
.tg-comments-widget .comments-activate:hover {
  color: #e31739;
}
.tg-comments-widget .comments-activate .plus-icon {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  margin-bottom: -5px;
  background: #301860;
  position: relative;
  display: inline-block;
}
.tg-comments-widget .comments-activate .plus-icon .line {
  width: 15px;
  height: 1.5px;
  background: white;
  position: absolute;
  top: 14px;
  left: 7px;
}
.tg-comments-widget .comments-activate .plus-icon .line-2 {
  transform: rotate(90deg);
}
.tg-comments-widget .comments-hide {
  display: none;
}

.category-head {
  margin: 20px 15px 15px;
  text-align: center;
}
.category-head h1 {
  font-weight: bold;
  color: #301860;
  font-size: 16px;
  text-transform: uppercase;
  border-bottom: 3px solid #301860;
  padding: 0 0 5px 0;
  letter-spacing: 0.1em;
}

/* Widgets */
.tg-ne-propusti {
  padding: 40px 0 15px;
}
.tg-ne-propusti .tg-widget-head {
  margin-bottom: 15px;
}
.tg-ne-propusti article {
  margin: 0 0 15px;
}
.tg-ne-propusti .btn {
  margin: 0 auto;
}

/* Footer */
footer {
  background: #120836 url("assets/img/footer_bg.png");
  padding: 20px 0;
  color: #fff;
  font-family: "Fjalla One CRO", Impact, sans-serif;
  font-size: 18px;
  text-align: center;
}
footer a:hover {
  color: #e31739;
}
footer h2 {
  font-size: 14px;
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 15px;
}
footer .meta {
  font-size: 12px;
}
footer .btn {
  margin: 0 auto 20px;
}
footer .footer-1 {
  padding: 20px 15px 0;
}
footer .footer-1 img {
  margin: 0 auto 20px;
  max-width: 100%;
  height: auto;
}
footer .footer-1 .claim {
  font-size: 18px;
  margin-bottom: 15px;
  line-height: 1.4em;
}
footer .footer-1 .meta {
  font-size: 14px;
}
footer .footer-2 {
  padding: 20px 0;
}
footer .footer-2 .categories .menu {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}
footer .footer-2 .menus {
  display: flex;
}
footer .footer-2 .menus > div {
  width: 50%;
}
footer .footer-2 .menus li {
  padding: 0 0 15px 0;
}

.clear_column {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
  overflow: hidden;
}

/* =Shortcodes Templates
-------------------------------------------------------------- */
.full_width,
.one_half,
.one_third,
.two_third,
.one_fourth,
.three_fourth,
.one_fifth,
.two_fifth,
.three_fifth,
.four_fifth,
.one_sixth,
.five_sixth {
  clear: both;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1em;
}

.kaufland-iframe {
  height: auto;
}

.kaufland-svinja {
  width: 1px;
  min-width: 100%;
  height: 80vw;
}
.tg-okvir {
  border: 3px solid black;
  padding: 25px;
}

.native-video {
  width:100%;
}